PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://<kullanici>:<sifre>@localhost:5432/<veritabani_adi>"
JWT_ACCESS_SECRET=<guclu-bir-gizli-anahtar>
JWT_REFRESH_SECRET=<guclu-bir-gizli-anahtar>
